In [3]:
import pandas as pd
import numpy as np

In [4]:
lpc = pd.read_csv("lpc.csv")
lpc.head(3)

,Date,Configuration,Customer_Postcode,Store_Postcode,Retail_Price,Screen_Size_Inches,Battery_Life_Hours,RAM_GB,Processor_Speeds_GHz,Integrated_Wireless,HD_Size_GB,Bundled_Applications,cust_lon,cust_lat,store_lon,store_lat
0,2008-01-01 0:01,163,EC4V 5BH,SE1 2BN,455.0,15,5,1,2.0,Yes,80,Yes,-0.098731,51.512579,-0.070057,51.500186
1,2008-01-01 0:02,320,SW4 0JL,SW12 9HD,545.0,15,6,1,2.0,No,300,No,-0.140912,51.464129,-0.149031,51.442091
2,2008-01-01 0:04,23,EC3V 1LR,E2 0RY,515.0,15,4,1,2.0,Yes,300,Yes,-0.083393,51.512680,-0.045831,51.529272

In [5]:
lpc.dtypes

Date                     object
Configuration             int64
Customer_Postcode        object
Store_Postcode           object
Retail_Price            float64
Screen_Size_Inches        int64
Battery_Life_Hours        int64
RAM_GB                    int64
Processor_Speeds_GHz    float64
Integrated_Wireless      object
HD_Size_GB                int64
Bundled_Applications     object
cust_lon                float64
cust_lat                float64
store_lon               float64
store_lat               float64
dtype: object

In [6]:
lpc.shape

(294524, 16)

In [7]:
lpc.isnull().sum()

Date                      207
Configuration               0
Customer_Postcode           0
Store_Postcode              0
Retail_Price            13287
Screen_Size_Inches          0
Battery_Life_Hours          0
RAM_GB                      0
Processor_Speeds_GHz        0
Integrated_Wireless         0
HD_Size_GB                  0
Bundled_Applications        0
cust_lon                    0
cust_lat                    0
store_lon                   0
store_lat                   0
dtype: int64

In [8]:
len(np.unique(lpc.Configuration))

864

In [9]:
df = pd.DataFrame(lpc.groupby(lpc.Configuration)['Retail_Price'].mean())
df = df.reset_index()
df.head()

   Configuration  Retail_Price
0              1    337.677419
1              2    288.419753
2              3    377.125475
3              4    328.884462
4              5    392.042918

In [10]:
lpc['Date'] = lpc['Date'].fillna(method='ffill')

In [11]:
def date_fn(x) :
    date = x[:10]
    return pd.to_datetime(date, format = '%Y%m%d',errors='ignore')

In [12]:
#'Date'변수 형식 변환
lpc['Date'] = lpc['Date'].apply(lambda x : date_fn(x) )

In [13]:
na_df = lpc[lpc['Retail_Price'].isnull()]
na_df.drop('Retail_Price',axis=1,inplace=True)
na_df = pd.merge(na_df,df)

C:\Users\toto0\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [14]:
complete_df = lpc[lpc['Retail_Price'].isnull()==False]

In [15]:
total = pd.concat([complete_df,na_df],axis=0)
print(total.shape)
print('number of nan :',total.isnull().sum().sum())

C:\Users\toto0\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

(294524, 16)
number of nan : 0

In [16]:
total = total[list(lpc.columns)]

In [17]:
total.to_csv('lpc_imputate_NA.csv',index=False)